.wrapper {
    width: 50%;
}

.form {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.button {
    position: relative;
    border-style: none;
    border-radius: 8px;
    padding: 10px;
    width: 70px;
    margin-left: 10px;
}

ul {
    padding: 0;
    margin-block: 0;
}

li {
    list-style: none;
    text-align: initial;
}

.liContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.checkbox {
    width: auto;
}

.description {
    min-width: 250px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}